.login-button {
    background-color: rgb(54, 54, 137);
    margin: 10px;
    padding: 8px 30px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .login-button:hover {
    color: #fff;
    text-decoration: none;
  }
  